* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* CHANGE */
  background: linear-gradient(135deg, #0890d0, #102030);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

h1 {
  font-size: 60px;
  color: white;
  font-weight: bolder;
}

h2 {
  color: white;
  font-weight: bolder;
}
/* .animeimg {
  position: relative;
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
  transform: perspective(2500px) rotateY(0deg);
  transition: transform 1.7s;
}

.animeimg span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(calc(var(--a) * 45deg)) translateZ(750px);
} */


.anime-container {
  position: relative;
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
  transform: perspective(2500px) rotateY(0deg);
  transition: transform 1.7s;
}
.anime-container span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(calc(var(--a) * 45deg)) translateZ(750px);
}

.btnscarousel {
  position: relative;
  width: 80%;
}

.btn {
  position: absolute;
  background-color: #0890d0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: x-large;
  font-weight: bolder;
}

.btn:hover {
  filter: brightness(1.2);
}
#prev {
  left: 10%;
}
#next {
  right: 10%;
}

img:hover {
  filter: brightness(1.1);
}

.submit-button {
  background-color: #0890d0;
  color: white;
  border: none;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: x-large;
  font-weight: bolder;
}

.submit-button:hover {
  filter: brightness(1.2);
}

.review-text {
  margin: 5px;
  width: 60%;
  height: 60px;
  border-radius: 5px;
  border-color: #102030;
  border-width: 2px;
}

.starLabel {
  color: white;
  font-size: 24px;
}

.starLabel-Clicked {
  color: orange;
  font-size: 24px;
}
